<!-- Main content -->
<section class="content">

    <div class="container-fluid">
        <div class="px-5">
            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Puntos</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                             HOME PAGE
                            </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.p-5 -->
    </div>
    <!-- ./container-fluid -->
</section>
<!-- /.content -->