<!-- Main content -->
<section class="content px-2">
  <div class="container-fluid">
    <div class="row" *ngIf="dots && n > 1 && !errMsg">
      <div class="col-12">
        <div class="callout callout-info px-5">
          <h5 class="text-navy"> ANALISIS </h5>
          <span>La función empírica es una recta:</span>
          <div class="row">
            <div class="col-6">
              <div [appMath] class="row">
                $$ 
                \mathcal f (x, a_1, a_2) \Rightarrow y = a_2x + a_1 \Rightarrow \text{{'{'}}ecuaci&oacute;n de
                la recta{{'}'}} \\
                \mathcal Entonces: \phi _1 (x)=1 \land \phi _2(x)=x 
                $$
                <span>
                  Tomando en cuenta el Análisis Inicial <a href="#" [routerLink]="['/home']"> (Ver análisis inicial)</a>.
                  Para este caso tenemos:
                </span>
              </div>
              <div [appMath] class="col-md-8 col-xs-12">
                $$
                \begin{{'{'}}cases{{'}'}}
                \ a_1  \cdot \sum_{{'{'}}i=1{{'}'}}^n 1 + a_2 \cdot \sum_{{'{'}}i=1{{'}'}}^n x_i = \sum_{{'{'}}i=1{{'}'}}^n y_i  \\
                \ a_1 \cdot \sum_{{'{'}}i=1{{'}'}}^n x_i + a_2 \cdot \sum_{{'{'}}i=1{{'}'}}^n x_i^2 =  \sum_{{'{'}}i=1{{'}'}}^n y_i \cdot x_i 
                \end{{'{'}}cases{{'}'}}\\
                \Rightarrow
                \begin{{'{'}}bmatrix{{'}'}}
                \ n & \sum_{{'{'}}i=1{{'}'}}^n x_i \\
                \sum_{{'{'}}i=1{{'}'}}^n x_i & \sum_{{'{'}}i=1{{'}'}}^n x_i^2 \\
                \end{{'{'}}bmatrix{{'}'}}
                \cdot
                \begin{{'{'}}bmatrix{{'}'}}
                a1\\
                a2\\
                \end{{'{'}}bmatrix{{'}'}}
                =
                \begin{{'{'}}bmatrix{{'}'}}
                \sum_{{'{'}}i=1{{'}'}}^n y_i\\
                \sum_{{'{'}}i=1{{'}'}}^n y_i \cdot x_i\\
                \end{{'{'}}bmatrix{{'}'}}
                $$
              </div>
              <p>Tomamos como ejemplo la tabla de valores ingresada (Ver en gráfica).
              <br>Ajustamos a una recta: <em>y = a<sub>1</sub> + a<sub>2</sub>x</em> </p>
              <div class="row" style="padding: 0; margin: 0; border: 0;">
                <div [appMath] class="col-md-3 col-xs-12" style="padding: 0; margin: 0; border: 0;">
                  $$ 
                  \ n = {{n}} \\
                  \sum_{{'{'}}i=1{{'}'}}^n x_i = {{csx}}\\
                  \sum_{{'{'}}i=1{{'}'}}^n x_i^2 = {{csx2}}
                  $$                 
                </div>
                <div [appMath] class="col-md-3 col-xs-12">
                  $$
                  \ \\
                  \sum_{{'{'}}i=1{{'}'}}^n y_i = {{csy}}\\[2ex]
                  \sum_{{'{'}}i=1{{'}'}}^n y_i \cdot x_i = {{csyx}}
                  $$
                </div>
              </div>
            </div>
            <!-- /.col -->
            <div class="col-6" style="padding: 0; margin: 0; border: 0;">
              <div [appMath] class="row" style="padding: 0; margin: 0; border: 0;">
                $$
                \begin{{'{'}}bmatrix{{'}'}}
                n & \sum_{{'{'}}i=1{{'}'}}^n x_i \\
                \sum_{{'{'}}i=1{{'}'}}^n x_i & \sum_{{'{'}}i=1{{'}'}}^n x_i^2
                \end{{'{'}}bmatrix{{'}'}}
                \cdot
                \begin{{'{'}}bmatrix{{'}'}}
                a1\\
                a2
                \end{{'{'}}bmatrix{{'}'}}
                =
                \begin{{'{'}}bmatrix{{'}'}}
                \sum_{{'{'}}i=1{{'}'}}^n y_i\\
                \sum_{{'{'}}i=1{{'}'}}^n y_i \cdot x_i
                \end{{'{'}}bmatrix{{'}'}}\\
                \Rightarrow
                \begin{{'{'}}bmatrix{{'}'}}
                {{n}} & {{csx}} \\
                {{csx}} & {{csx2}} 
                \end{{'{'}}bmatrix{{'}'}}
                \cdot
                \begin{{'{'}}bmatrix{{'}'}}
                a_1\\
                a_2
                \end{{'{'}}bmatrix{{'}'}}
                =
                \begin{{'{'}}bmatrix{{'}'}}
                {{csy}}\\
                {{csyx}}
                \end{{'{'}}bmatrix{{'}'}}
                $$
              </div>
              <span>Armamos un sistema de ecuaciones y lo resolvemos:</span>
              <div [appMath] class="col-6 col-xs-12">
                $$
                \begin{{'{'}}cases{{'}'}}
                {{n}}a_1 + {{csx}}a_2 = {{csy}}\\
                {{csx}}a_1 + {{csx2}}a_2 = {{csyx}}
                \end{{'{'}}cases{{'}'}}\\
                $$
                $$
                \ {{n}}a_1={{csy}}-{{csx}}a_2 \Rightarrow a_1=\frac{{'{'}}{{csy}}-{{csx}}a_2{{'}'}}{{'{'}}{{n}}{{'}'}} \Rightarrow a_1={{ca1}}\\
                \ {{csx}}\left( \frac{{'{'}}{{csy}}-{{csx}}a_2{{'}'}}{{'{'}}{{n}}{{'}'}} \right)+{{csx2}}={{csyx}} \Rightarrow a_2 = {{ca2}}
                $$
              </div>
              <h5 class="brand-text text-navy"><em>Ecuación de la Recta:</em></h5>
              <div [appMath]>
                $$ 
                \bbox[5px,border:3px solid red]
                {{'{'}}
                \mathcal y(x) = {{ca2}}x + {{ca1}} 
                {{'}'}}
                $$
              </div>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.callout -->
      </div>
      <!-- /.col -->
      <div class="col-12">
        <div class="card card-success card-outline">
          <div class="card-header">
            <h3 class="card-title text-navy"> GRAFICA <em> f(x) = {{fx}}</em></h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="row">
              
              <div class="col-10">
                <app-linear-plot [data]="data" [fx]="fx"></app-linear-plot>
              </div>
              <!-- /.col -->

              <div class="col-2 text-left">
                <p class="text-left">Puntos Analizados</p>
                <table #dotsTable class="table table-bordered">
                  <thead>
                    <tr>
                      <th style="width: 10px">#</th>
                      <th class="text-center">x</th>
                      <th class="text-center">y(x)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let d of dots; let i = index">
                      <td>{{ i + 1  }}</td>
                      <td class="text-center">
                        <span>{{ d.x }}</span>
                      </td>
                      <td class="text-center">
                        <span>{{ d.y }}</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
          <!-- ./card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
      
    </div>
    <!-- ./row-->
    
    <app-error [error]="errMsg" [noDots]="noDots"></app-error>
    <!-- /.error-page -->
    
  </div>
  <!-- /.container-fluid-->
</section>