<!-- Main content -->
<section class="content px-2">
  <div class="container-fluid">
       <div class="card card-secondary card-outline" *ngIf="dots && n > 1 && !errMsg">
          <div class="card-header">
            <h5 class="card-title">Bondad del Ajuste</h5>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            
          </div>
          <!-- ./card-body -->
          <div class="card-footer">
           
          </div>
          <!-- /.card-footer -->
        </div>
        <!-- /.card -->

        <app-error [error]="errMsg" [noDots]="noDots"></app-error>
        <!-- /.error-page -->
        
  </div>
</section>
