<!-- Main content -->
<section class="content px-2">
  <div class="container-fluid">
    <div class="row" *ngIf="dots && n > 1 && !errMsg">
      <div class="col-lg-12">
        <div class="callout callout-info px-5">
          <h5 class="text-navy"> BONDAD DEL AJUSTE </h5>
          <div class="row">
            <div class="col-6">
              <p>Es un parámetro que nos permite estimar si el ajuste realizado con respecto a los datos experimentales
                que
                teníamos ha sido efectivo o no. Se podría obtener arbitrariamente, por ejemplo, un ajuste lineal para
                una
                nube de puntos dada, y sin embargo podría suceder que los valores no tuvieran precisamente una
                distribución
                lineal, entonces con el cálculo de la bondad del ajuste se puede verificar si el ajuste realizado ha
                sido
                realmente efectivo. <br>
              </p>
              <p>Cálculo del error cometido:
                <span [appMath]> $ \ \varepsilon = (y - y') \Rightarrow y = y' + \varepsilon$</span>
              </p>
              <p class="my-0">Hay tres métodos para estimar los errores</p>
              <ol>
                <li>Suma de los errores <span [appMath]> $ \ SE = \sum \varepsilon_i \Rightarrow \sum (y-y')</span></li>
                <li>Suma de los valores absolutos de los errores <span [appMath]>$ \ SAE = \sum | \varepsilon_i
                  |$</span></li>
                  <li>Suma de los cuadrados de los errores <span [appMath]>$ \ SCE = \sum | \varepsilon_i |^2 =
                    SC_{{'{'}}yx{{'}'}}$</span></li>
                  </ol>
                  <p class="my-0">Esta suma oscila entre cero y cualquier valor positivo, cuanto más ses acerque a cero
                    mejor será el
                    ajuste, como no tenemos un techo, este índice puede resultar dificil de interpretar en la práctica.
                  </p>
                  <p class="my-0">Un índice derivado del anterior es el obtenido como media aritmética del cuadrado de los
                    errores de
                    predicción, esto es, el resultado de dividir la SCE por n, el cual se denomina varianza de los errores
                    (S<sub>yx</sub><sup>2</sup>) de nuevo este índice tiene el mismo problema que el SCE.
                  </p>
                  <div [appMath] class="text-center">
                    $ S_{{'{'}}yx{{'}'}}^2 = \frac{{'{'}}\sum (y - y')^2{{'}'}}{{'{'}}n{{'}'}}$
                  </div>
                  
                </div>
                <!-- /.col-6 -->
                <div class="col-6">
                  <p class="my-0">
                    Otro índice que supera este problema es el que se conoce como igualdad de la
                    descomposición de la
                    varianza de Y, la cual se deriva del axioma que establece que la puntuación observada en la variable de
                    respuesta es igual a la predicha según el modelo de ajuste más el error de predicción cometido: <span
                    [appMath]> $y_i = y_i + \varepsilon_i$</span> a partir de esta igualdad se puede derivar
                    algebraicamente lo siguiente: SC<sub>y</sub> = SC<sub>y'</sub> + SC<sub>yx</sub> o lo que es lo mismo:
                    <br>
                    <span class="text-center"></span>
                  </p>
                  <div [appMath] class="text-center">
                    $ \sum (y_i - \overline y )^2 = \sum (y_i' - \overline y)^2 + \sum (y_i - y_i^2)^2 con \overline y =
                    \sum \frac{{'{'}}y_i{{'}'}}{{'{'}}n{{'}'}}$
                  </div>
                  <p class="my-0">
                    Si dividimos cada término por n tenemos la misma igualdad en forma de varianza.
                  </p>
                  <div [appMath] class="text-center"> $ S_y^2 = S_{{'{'}}y'{{'}'}}^2 + S_{{'{'}}yx{{'}'}}^2$</div>
                  <p class="my-0">
                    Como consecuencia de la igualdad de descomposición de las varianzas, se puede plantear un índice de la
                    bondad de ajuste como razón de la varianza aplicada por el modelo de ajuste
                    <span [appMath]>$ \ S_{{'{'}}y'{{'}'}}^2 $</span> respecto a la varianza total
                    <span [appMath]>$ \ S_{{'{'}}y{{'}'}}^2$</span>
                  </p>
                  <p class="my-0">
                    Esta razón es conocida como coeficiente de determinación R<sup>2</sup>. Este coeficiente oscila entre
                    cero y uno, de modo que cuanto más próximo sea a uno, indicará mejor bondad de ajuste, y si es igual a
                    uno, el ajuste será perfecto.
                    <span [appMath] class="text-center">
                      $$ R^2 = \frac{{'{'}} S_{{'{'}}y'{{'}'}}^2 {{'}'}}{{'{'}} S_{{'{'}}y{{'}'}}^2{{'}'}}$$
                    </span>
                    A continuación analizaremos los ajustes: lineal, polinómico, exponencial, potencial y cociente, según el set de datos ingresado.
                  </p>
                </div>
                <!-- /.col-6 -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.callout -->
          </div>
          <!-- /.col-lg-12 -->
          
          <!-- LINEAL CASE -->
          <div class="col-lg-4">
            <div class="card card-success card-outline">
              <div class="card-header">
                <h3 class="card-title text-navy"> Bondad de Ajuste - Recta:  
                  <span [appMath]>$ f(x) = {{linearData.values.a1}} + {{linearData.values.a2}}x $</span>
                </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div [appMath]> 
                  $ y' = {{linearData.values.a1}} + {{linearData.values.a2}}x\\
                  \overline y = \frac{{'{'}} \sum_{{'{'}}i=1{{'}'}}^n y{{'}'}}{{'{'}}n{{'}'}} = 
                  \frac{{'{'}}{{linearGD.sy}}{{'}'}}{{'{'}}{{n}}{{'}'}} = 
                  {{ linearGD.sy / n }} $
                </div>
                <br>
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th class="text-center">x</th>
                      <th class="text-center">y</th>
                      <th class="text-center"><span [appMath]>$ y' = f(x) $</span></th>
                      <th class="text-center"><span [appMath]>$ (y - y') $</span></th>
                      <th class="text-center"><span [appMath]>$ (y - y'_i)^2 $</span></th>
                      <th class="text-center"><span [appMath]>$ (y'_i - \overline y)^2 $</span></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let dt of linearGD.li">
                      <td class="text-center"><span>{{ dt.x }}</span></td>
                      <td class="text-center"><span>{{ dt.y }}</span></td>
                      <td class="text-center"><span>{{ dt.y1.toFixed(2) }}</span></td>
                      <td class="text-center"><span>{{ dt.y2.toFixed(2) }}</span></td>
                      <td class="text-center"><span>{{ dt.y3.toFixed(2) }}</span></td>
                      <td class="text-center"><span>{{ dt.y4.toFixed(2) }}</span></td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td class="text-center"><span>{{ linearGD.sy3.toFixed(2) }}</span></td>
                      <td class="text-center"><span>{{ linearGD.sy4.toFixed(2) }}</span></td>
                    </tr>
                  </tbody>
                </table>
                <br>
                <span [appMath]>
                  $ \begin{{'{'}}align{{'}'}}
                  S_{{'{'}}yx{{'}'}}^2  
                  = \frac{{'{'}}{{linearGD.sy3.toFixed(2)}}{{'}'}}{{'{'}}{{n}}{{'}'}}
                  = {{(linearGD.sy3 / n).toFixed(2)}} 
                  && ; &&
                  S_{{'{'}}y'{{'}'}}^2
                  = \frac{{'{'}}{{linearGD.sy4.toFixed(2)}}{{'}'}}{{'{'}}{{n}}{{'}'}}
                  = {{(linearGD.sy4 / n).toFixed(2)}} 
                  \end{{'{'}}align{{'}'}} $
                </span>
                
                <p>
                  A partir de los valores predichos se puede obtener: 
                </p>
                <ul>
                  <li>Varianza de los errores: 
                    <span [appMath]>
                      $ S_{{'{'}}yx{{'}'}}^2 = {{ (linearGD.sy3 / n).toFixed(2) }}$
                    </span>
                  </li>
                  <li>Varianza de las puntuaciones predichas: 
                    <span [appMath]>$ S_{{'{'}}y'{{'}'}}^2 = {{ (linearGD.sy4 / n).toFixed(2) }}$
                    </span>
                  </li>
                  <li> 
                    <p> 
                      Descomposición de la varianza y: <br>
                      <span [appMath]>
                        $ S_y^2 = \frac{{'{'}}\sum (y_i - \overline y)^2 {{'}'}}{{'{'}}{{n}}{{'}'}} = 
                        \frac{{'{'}} {{linearGD.sy5.toFixed(2)}} {{'}'}}{{'{'}}{{n}}{{'}'}} = {{ linearGD.rd.toFixed(2) }}\\
                        S_y^2 = S_{{'{'}}y'{{'}'}}^2 + S_{{'{'}}yx{{'}'}}^2 \\
                        {{ linearGD.rd.toFixed(2) }} = {{ (linearGD.sy4 / n).toFixed(2) }} 
                        + {{ (linearGD.sy3 / n).toFixed(2) }} $
                      </span>
                    </p>
                  </li>
                  <li>
                    <p>
                      Coeficiente de determinación: 
                      <span [appMath]> 
                        $ R^2 = \frac{{'{'}} S_{{'{'}}y'{{'}'}}^2 {{'}'}}{{'{'}} S_y^2 {{'}'}} = 
                        \frac{{'{'}} {{ linearGD.rn.toFixed(2) }} {{'}'}}{{'{'}}{{ linearGD.rd.toFixed(2) }} {{'}'}} = {{ linearGD.r2.toFixed(2)}} $
                      </span> <br>
                      {{ linearGD.r2 == 1 ? 'El ajuste es perfecto': 'El ajuste no es perfecto' }}
                    </p>
                  </li>
                </ul>
              </div>
              <!-- ./card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col-lg-4 -->
          
          <!-- POLYNOMIAL CASE -->
          <div class="col-lg-4">
            <div class="card card-success card-outline">
              <div class="card-header">
                <h3 class="card-title text-navy"> Bondad de Ajuste - Polinomio:  
                  <span [appMath]>$ f(x) = {{polynomialData.values.a1}} + {{polynomialData.values.a2}}x + {{ polynomialData.values.a3}}x^2 $</span>
                </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div [appMath]> 
                  $ y' =  {{polynomialData.values.a1}} + {{polynomialData.values.a2}}x + {{ polynomialData.values.a3}}x^2 \\
                  \overline y = \frac{{'{'}} \sum_{{'{'}}i=1{{'}'}}^n y{{'}'}}{{'{'}}n{{'}'}} = 
                  \frac{{'{'}}{{polynomialData.values.sy}}{{'}'}}{{'{'}}{{n}}{{'}'}} = 
                  {{ polynomialData.values.sy / n }} $
                </div>
                <br>
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th class="text-center">x</th>
                      <th class="text-center">y</th>
                      <th class="text-center"><span [appMath]>$ y' = f (x) $</span></th>
                      <th class="text-center"><span [appMath]>$ (y - y') $</span></th>
                      <th class="text-center"><span [appMath]>$ (y - y'_i)^2 $</span></th>
                      <th class="text-center"><span [appMath]>$ (y'_i - \overline y)^2 $</span></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let dt of polynomialGD.li">
                      <td class="text-center"><span>{{ dt.x }}</span></td>
                      <td class="text-center"><span>{{ dt.y }}</span></td>
                      <td class="text-center"><span>{{ dt.y1.toFixed(2) }}</span></td>
                      <td class="text-center"><span>{{ dt.y2.toFixed(2) }}</span></td>
                      <td class="text-center"><span>{{ dt.y3.toFixed(2) }}</span></td>
                      <td class="text-center"><span>{{ dt.y4.toFixed(2) }}</span></td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td class="text-center"><span>{{ polynomialGD.sy3.toFixed(2) }}</span></td>
                      <td class="text-center"><span>{{ polynomialGD.sy4.toFixed(2) }}</span></td>
                    </tr>
                  </tbody>
                </table>
                <br>
                <span [appMath]>
                  $ \begin{{'{'}}align{{'}'}}
                  S_{{'{'}}yx{{'}'}}^2  
                  = \frac{{'{'}}{{polynomialGD.sy3.toFixed(2)}}{{'}'}}{{'{'}}{{n}}{{'}'}}
                  = {{(polynomialGD.sy3 / n).toFixed(2)}} 
                  && ; &&
                  S_{{'{'}}y'{{'}'}}^2
                  = \frac{{'{'}}{{polynomialGD.sy4.toFixed(2)}}{{'}'}}{{'{'}}{{n}}{{'}'}}
                  = {{(polynomialGD.sy4 / n).toFixed(2)}} 
                  \end{{'{'}}align{{'}'}} $
                </span>
                
                <p>
                  A partir de los valores predichos se puede obtener: 
                </p>
                <ul>
                  <li>Varianza de los errores: 
                    <span [appMath]>
                      $ S_{{'{'}}yx{{'}'}}^2 = {{ (polynomialGD.sy3 / n).toFixed(2) }}$
                    </span>
                  </li>
                  <li>Varianza de las puntuaciones predichas: 
                    <span [appMath]>$ S_{{'{'}}y'{{'}'}}^2 = {{ (polynomialGD.sy4 / n).toFixed(2) }}$
                    </span>
                  </li>
                  <li> 
                    <p> 
                      Descomposición de la varianza y: <br>
                      <span [appMath]>
                        $ S_y^2 = \frac{{'{'}}\sum (y_i - \overline y)^2 {{'}'}}{{'{'}}{{n}}{{'}'}} = 
                        \frac{{'{'}} {{polynomialGD.sy5.toFixed(2)}} {{'}'}}{{'{'}}{{n}}{{'}'}}  = {{ polynomialGD.rd.toFixed(2) }}\\
                        S_y^2 = S_{{'{'}}y'{{'}'}}^2 + S_{{'{'}}yx{{'}'}}^2 \\
                        {{ polynomialGD.rd.toFixed(2) }} = {{ (polynomialGD.rn).toFixed(2) }} 
                        + {{ (polynomialGD.sy3 / n).toFixed(2) }} $
                      </span>
                    </p>
                  </li>
                  <li>
                    <p>
                      Coeficiente de determinación: 
                      <span [appMath]> 
                        $ R^2 = \frac{{'{'}} S_{{'{'}}y'{{'}'}}^2 {{'}'}}{{'{'}} S_y^2 {{'}'}} = 
                        \frac{{'{'}} {{ polynomialGD.rn.toFixed(2) }} {{'}'}}{{'{'}}{{ polynomialGD.rd.toFixed(2) }} {{'}'}} = {{ polynomialGD.r2.toFixed(2)}} $
                      </span> <br>
                      {{ polynomialGD.r2 == 1 ? 'El ajuste es perfecto': 'El ajuste no es perfecto' }}
                      
                    </p>
                  </li>
                </ul>
              </div>
              <!-- ./card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col-lg-4 -->
          
          <!-- EXPONENTIAL CASE -->
          <div class="col-lg-4">
            <div class="card card-success card-outline">
              <div class="card-header">
                <h3 class="card-title text-navy"> Bondad de Ajuste - Exponente:  
                  <span [appMath]>$ f(x) = {{exponentialData.values.a1}} \cdot e^{{'{'}}{{exponentialData.values.a2}}x{{'}'}} $</span>
                </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div [appMath]> 
                  $ y' =  {{exponentialData.values.a1}} \cdot e^{{'{'}}{{exponentialData.values.a2}}x{{'}'}}\\
                  \overline y = \frac{{'{'}} \sum_{{'{'}}i=1{{'}'}}^n y{{'}'}}{{'{'}}n{{'}'}} = 
                  \frac{{'{'}}{{exponentialGD.sy}}{{'}'}}{{'{'}}{{n}}{{'}'}} = 
                  {{ exponentialGD.sy / n }} $
                </div>
                <br>
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th class="text-center">x</th>
                      <th class="text-center">y</th>
                      <th class="text-center"><span [appMath]>$ y' = f (x) $</span></th>
                      <th class="text-center"><span [appMath]>$ (y - y') $</span></th>
                      <th class="text-center"><span [appMath]>$ (y - y'_i)^2 $</span></th>
                      <th class="text-center"><span [appMath]>$ (y'_i - \overline y)^2 $</span></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let dt of exponentialGD.li">
                      <td class="text-center"><span>{{ dt.x }}</span></td>
                      <td class="text-center"><span>{{ dt.y }}</span></td>
                      <td class="text-center"><span>{{ dt.y1.toFixed(2) }}</span></td>
                      <td class="text-center"><span>{{ dt.y2.toFixed(2) }}</span></td>
                      <td class="text-center"><span>{{ dt.y3.toFixed(2) }}</span></td>
                      <td class="text-center"><span>{{ dt.y4.toFixed(2) }}</span></td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td class="text-center"><span>{{ exponentialGD.sy4.toFixed(2) }}</span></td>
                      <td class="text-center"><span>{{ exponentialGD.sy3.toFixed(2) }}</span></td>
                    </tr>
                  </tbody>
                </table>
                <br>
                <span [appMath]>
                  $ \begin{{'{'}}align{{'}'}}
                  S_{{'{'}}yx{{'}'}}^2  
                  = \frac{{'{'}}{{exponentialGD.sy3.toFixed(2)}}{{'}'}}{{'{'}}{{n}}{{'}'}}
                  = {{(exponentialGD.sy3 / n).toFixed(2)}} 
                  && ; &&
                  S_{{'{'}}y'{{'}'}}^2
                  = \frac{{'{'}}{{exponentialGD.sy4.toFixed(2)}}{{'}'}}{{'{'}}{{n}}{{'}'}}
                  = {{(exponentialGD.sy4 / n).toFixed(2)}} 
                  \end{{'{'}}align{{'}'}} $
                </span>
                
                <p>
                  A partir de los valores predichos se puede obtener: 
                </p>
                <ul>
                  <li>Varianza de los errores: 
                    <span [appMath]>
                      $ S_{{'{'}}yx{{'}'}}^2 = {{ (exponentialGD.sy3 / n).toFixed(2) }}$
                    </span>
                  </li>
                  <li>Varianza de las puntuaciones predichas: 
                    <span [appMath]>$ S_{{'{'}}y'{{'}'}}^2 = {{ (exponentialGD.sy4 / n).toFixed(2) }}$
                    </span>
                  </li>
                  <li> 
                    <p> 
                      Descomposición de la varianza y: <br>
                      <span [appMath]>
                        $ S_y^2 = \frac{{'{'}}\sum (y_i - \overline y)^2 {{'}'}}{{'{'}}{{n}}{{'}'}} = 
                        \frac{{'{'}} {{exponentialGD.sy5.toFixed(2)}} {{'}'}}{{'{'}}{{n}}{{'}'}} = {{ exponentialGD.rd.toFixed(2) }}\\
                        S_y^2 = S_{{'{'}}y'{{'}'}}^2 + S_{{'{'}}yx{{'}'}}^2 \\
                        {{ exponentialGD.rd.toFixed(2) }} = {{ (exponentialGD.sy4 / n).toFixed(2) }} 
                        + {{ (exponentialGD.sy3 / n).toFixed(2) }} $
                      </span>
                    </p>
                  </li>
                  <li>
                    <p>
                      Coeficiente de determinación: 
                      <span [appMath]> 
                        $ R^2 = \frac{{'{'}} S_{{'{'}}y'{{'}'}}^2 {{'}'}}{{'{'}} S_y^2 {{'}'}} = 
                        \frac{{'{'}} {{ exponentialGD.rn.toFixed(2) }} {{'}'}}{{'{'}}{{ exponentialGD.rd.toFixed(2) }} {{'}'}} = {{ exponentialGD.r2.toFixed(2)}} $
                      </span> <br>
                      {{ exponentialGD.r2 == 1 ? 'El ajuste es perfecto': 'El ajuste no es perfecto' }}
                      
                    </p>
                  </li>
                </ul>
              </div>
              <!-- ./card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col-lg-4 -->
          
          <!-- POTENTIAL CASE -->
          <div class="col-lg-4">
            <div class="card card-success card-outline">
              <div class="card-header">
                <h3 class="card-title text-navy"> Bondad de Ajuste - Potencia:  
                  <span [appMath]>$ f(x) = {{potentialData.values.a1}} \cdot x^{{'{'}}{{potentialData.values.a2}}{{'}'}} $</span>
                </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div [appMath]> 
                  $ y' =  {{potentialData.values.a1}} \cdot x^{{'{'}}{{potentialData.values.a2}}{{'}'}} \\
                  \overline y = \frac{{'{'}} \sum_{{'{'}}i=1{{'}'}}^n y{{'}'}}{{'{'}}n{{'}'}} = 
                  \frac{{'{'}}{{potentialData.values.sy}}{{'}'}}{{'{'}}{{n}}{{'}'}} = 
                  {{ potentialData.values.sy / n }} $
                </div>
                <br>
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th class="text-center">x</th>
                      <th class="text-center">y</th>
                      <th class="text-center"><span [appMath]>$ y' = f (x) $</span></th>
                      <th class="text-center"><span [appMath]>$ (y - y') $</span></th>
                      <th class="text-center"><span [appMath]>$ (y - y'_i)^2 $</span></th>
                      <th class="text-center"><span [appMath]>$ (y'_i - \overline y)^2 $</span></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let dt of potentialGD.li">
                      <td class="text-center"><span>{{ dt.x }}</span></td>
                      <td class="text-center"><span>{{ dt.y }}</span></td>
                      <td class="text-center"><span>{{ dt.y1.toFixed(2) }}</span></td>
                      <td class="text-center"><span>{{ dt.y2.toFixed(2) }}</span></td>
                      <td class="text-center"><span>{{ dt.y3.toFixed(2) }}</span></td>
                      <td class="text-center"><span>{{ dt.y4.toFixed(2) }}</span></td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td class="text-center"><span>{{ potentialGD.sy3.toFixed(2) }}</span></td>
                      <td class="text-center"><span>{{ potentialGD.sy4.toFixed(2) }}</span></td>
                    </tr>
                  </tbody>
                </table>
                <br>
                <span [appMath]>
                  $ \begin{{'{'}}align{{'}'}}
                  S_{{'{'}}yx{{'}'}}^2  
                  = \frac{{'{'}}{{potentialGD.sy3.toFixed(2)}}{{'}'}}{{'{'}}{{n}}{{'}'}}
                  = {{(potentialGD.sy3 / n).toFixed(2)}} 
                  && ; &&
                  S_{{'{'}}y'{{'}'}}^2
                  = \frac{{'{'}}{{potentialGD.sy4.toFixed(2)}}{{'}'}}{{'{'}}{{n}}{{'}'}}
                  = {{(potentialGD.sy4 / n).toFixed(2)}} 
                  \end{{'{'}}align{{'}'}} $
                </span>
                
                <p>
                  A partir de los valores predichos se puede obtener: 
                </p>
                <ul>
                  <li>Varianza de los errores: 
                    <span [appMath]>
                      $ S_{{'{'}}yx{{'}'}}^2 = {{ (potentialGD.sy3 / n).toFixed(2) }}$
                    </span>
                  </li>
                  <li>Varianza de las puntuaciones predichas: 
                    <span [appMath]>$ S_{{'{'}}y'{{'}'}}^2 = {{ (potentialGD.sy4 / n).toFixed(2) }}$
                    </span>
                  </li>
                  <li> 
                    <p> 
                      Descomposición de la varianza y: <br>
                      <span [appMath]>
                        $ S_y^2 = \frac{{'{'}}\sum (y_i - \overline y)^2 {{'}'}}{{'{'}}{{n}}{{'}'}} = 
                        \frac{{'{'}} {{potentialGD.sy5.toFixed(2)}} {{'}'}}{{'{'}}{{n}}{{'}'}} = 
                        {{ potentialGD.rd.toFixed(2) }} \\
                        S_y^2 = S_{{'{'}}y'{{'}'}}^2 + S_{{'{'}}yx{{'}'}}^2 \\
                        {{ potentialGD.rd.toFixed(2) }} = {{ (potentialGD.sy4 / n).toFixed(2) }} 
                        + {{ (potentialGD.sy3 / n).toFixed(2) }} $
                      </span>
                    </p>
                  </li>
                  <li>
                    <p>
                      Coeficiente de determinación: 
                      <span [appMath]> 
                        $ R^2 = \frac{{'{'}} S_{{'{'}}y'{{'}'}}^2 {{'}'}}{{'{'}} S_y^2 {{'}'}} = 
                        \frac{{'{'}} {{ potentialGD.rn.toFixed(2) }} {{'}'}}{{'{'}}{{ potentialGD.rd.toFixed(2) }} {{'}'}} = {{ potentialGD.r2.toFixed(2)}} $
                      </span> <br>
                      {{ potentialGD.r2 == 1 ? 'El ajuste es perfecto': 'El ajuste no es perfecto' }}
                      
                    </p>
                  </li>
                </ul>
              </div>
              <!-- ./card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col-lg-4 -->
          
          <!-- QUOTIENT CASE -->
          <div class="col-lg-4">
            <div class="card card-success card-outline">
              <div class="card-header">
                <h3 class="card-title text-navy"> Bondad de Ajuste - Cociente:  
                  <span [appMath]>$ f(x) = \frac{{'{'}}{{quotientData.values.a1}}x{{'}'}}{{'{'}}x + {{quotientData.values.a2}}{{'}'}} $</span>
                </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div [appMath]> 
                  $ y' = \frac{{'{'}}{{quotientData.values.a1}}x{{'}'}}{{'{'}}x + {{quotientData.values.a2}}{{'}'}} \\
                  \overline y = \frac{{'{'}} \sum_{{'{'}}i=1{{'}'}}^n y{{'}'}}{{'{'}}n{{'}'}} = 
                  \frac{{'{'}}{{quotientData.values.sy}}{{'}'}}{{'{'}}{{n}}{{'}'}} = 
                  {{ quotientData.values.sy / n }} $
                </div>
                <br>
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th class="text-center">x</th>
                      <th class="text-center">y</th>
                      <th class="text-center"><span [appMath]>$ y' = f (x) $</span></th>
                      <th class="text-center"><span [appMath]>$ (y - y') $</span></th>
                      <th class="text-center"><span [appMath]>$ (y - y'_i)^2 $</span></th>
                      <th class="text-center"><span [appMath]>$ (y'_i - \overline y)^2 $</span></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let dt of quotientGD.li">
                      <td class="text-center"><span>{{ dt.x }}</span></td>
                      <td class="text-center"><span>{{ dt.y }}</span></td>
                      <td class="text-center"><span>{{ dt.y1.toFixed(2) }}</span></td>
                      <td class="text-center"><span>{{ dt.y2.toFixed(2) }}</span></td>
                      <td class="text-center"><span>{{ dt.y3.toFixed(2) }}</span></td>
                      <td class="text-center"><span>{{ dt.y4.toFixed(2) }}</span></td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td class="text-center"><span>{{ quotientGD.sy3.toFixed(2) }}</span></td>
                      <td class="text-center"><span>{{ quotientGD.sy4.toFixed(2) }}</span></td>
                    </tr>
                  </tbody>
                </table>
                <br>
                <span [appMath]>
                  $ \begin{{'{'}}align{{'}'}}
                  S_{{'{'}}yx{{'}'}}^2  
                  = \frac{{'{'}}{{quotientGD.sy3.toFixed(2)}}{{'}'}}{{'{'}}{{n}}{{'}'}}
                  = {{(quotientGD.sy3 / n).toFixed(2)}} 
                  && ; &&
                  S_{{'{'}}y'{{'}'}}^2
                  = \frac{{'{'}}{{quotientGD.sy4.toFixed(2)}}{{'}'}}{{'{'}}{{n}}{{'}'}}
                  = {{(quotientGD.sy4 / n).toFixed(2)}} 
                  \end{{'{'}}align{{'}'}} $
                </span>
                
                <p>
                  A partir de los valores predichos se puede obtener: 
                </p>
                <ul>
                  <li>Varianza de los errores: 
                    <span [appMath]>
                      $ S_{{'{'}}yx{{'}'}}^2 = {{ (quotientGD.sy3 / n).toFixed(2) }}$
                    </span>
                  </li>
                  <li>Varianza de las puntuaciones predichas: 
                    <span [appMath]>$ S_{{'{'}}y'{{'}'}}^2 = {{ (quotientGD.sy4 / n).toFixed(2) }}$
                    </span>
                  </li>
                  <li> 
                    <p> 
                      Descomposición de la varianza y: <br>
                      <span [appMath]>
                        $ S_y^2 = \frac{{'{'}}\sum (y_i - \overline y)^2 {{'}'}}{{'{'}}{{n}}{{'}'}} = 
                        \frac{{'{'}} {{quotientGD.sy5.toFixed(2)}} {{'}'}}{{'{'}}{{n}}{{'}'}} = 
                        {{ quotientGD.rd.toFixed(2) }} \\
                        S_y^2 = S_{{'{'}}y'{{'}'}}^2 + S_{{'{'}}yx{{'}'}}^2 \\
                        {{ quotientGD.rd.toFixed(2) }} = {{ (quotientGD.sy4 / n).toFixed(2) }} 
                        + {{ (quotientGD.sy3 / n).toFixed(2) }} $
                      </span>
                    </p>
                  </li>
                  <li>
                    <p>
                      Coeficiente de determinación: 
                      <span [appMath]> 
                        $ R^2 = \frac{{'{'}} S_{{'{'}}y'{{'}'}}^2 {{'}'}}{{'{'}} S_y^2 {{'}'}} = 
                        \frac{{'{'}} {{ quotientGD.rn.toFixed(2) }} {{'}'}}{{'{'}}{{ quotientGD.rd.toFixed(2) }} {{'}'}} = {{ quotientGD.r2.toFixed(2)}} $
                      </span> <br>
                      {{ quotientGD.r2 == 1 ? 'El ajuste es perfecto': 'El ajuste no es perfecto' }}
                      
                    </p>
                  </li>
                </ul>
              </div>
              <!-- ./card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col-lg-4 -->
          
          <!-- SUMMARY -->
          <div class="col-lg-4">
            <div class="card card-success card-outline">
              <div class="card-header">
                <h3 class="card-title text-navy"> Bondad de Ajuste - Mejor Ajuste  </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                Coeficiente de determinación R<sup>2</sup> para cada ajuste: 
                <ul>
                  <li>Ajuste a una recta:    <span [appMath]>$ R^2 = {{ linearGD.r2.toFixed(2) }} $</span></li>
                  <li>Ajuste a un polinomio: <span [appMath]>$ R^2 = {{ polynomialGD.r2.toFixed(2) }} $</span></li>
                  <li>Ajuste a un exponente: <span [appMath]>$ R^2 = {{ exponentialGD.r2.toFixed(2) }} $</span></li>
                  <li>Ajuste a una potencia: <span [appMath]>$ R^2 = {{ potentialGD.r2.toFixed(2) }} $</span></li>
                  <li>Ajuste a un cociente:  <span [appMath]>$ R^2 = {{ quotientGD.r2.toFixed(2) }} $</span></li>
                </ul>
                El mejor ajuste es el : 
              </div>
              <!-- ./card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col-lg-4 -->
          
        </div>
        <!-- ./row-->
        
        <app-error [error]="errMsg" [noDots]="noDots"></app-error>
        <!-- /.error-page -->
        
      </div>
      <!-- /.container-fluid-->
    </section>