<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Puntos</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="product-info">
                            <span class="product-description">
                                <span class="fas fa-ellipsis-v"></span>
                                <span class="fas fa-ellipsis-v"></span>
                                <span class="fas fa-ellipsis-v"></span>
                                &nbsp; Ingresar Puntos
                            </span>
                            <hr>
                            <form novalidate [formGroup]="dotsForm" #dform="ngForm" (ngSubmit)="generateTable()">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">X</span>
                                            </div>
                                            <input formControlName="x" class="form-control" type="text" name="totalDots"
                                                placeholder="Número entero positivo ...">
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Y</span>
                                            </div>
                                            <input formControlName="y" class="form-control" type="text" name="totalDots"
                                                placeholder="Número entero positivo ...">
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <button type="submit" class="btn btn-info">Enviar</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div *ngIf="showTable">
                            <hr>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width: 10px">#</th>
                                        <th class="text-center">X</th>
                                        <th class="text-center">Y</th>
                                        <th class="text-center" style="width: 10px"><small>EDITAR</small></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let dot of dots; let i = index">
                                        <td>{{ i + 1  }}</td>
                                        <td class="text-center">
                                            <span>{{ dot.x }}</span>
                                        </td>
                                        <td class="text-center">
                                            <span>{{ dot.y }}</span>
                                        </td>
                                        <td class="text-center">
                                            <small><i class="fas fa-edit"></i></small>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <button (click)="workOut()" type="button" class="btn btn-info float-right">
                                Calcular
                            </button>

                            <button (click)="deleteTable()" type="button" class="btn btn-secondary float-right"
                                style="margin-right: 5px;">
                                Borrar Puntos
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <div class="col-md-8">
                <div class="card" *ngIf="showChart">
                    <div class="card-header">
                        <h5 class="card-title">Ajuste Lineal</h5>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <div class="btn-group">
                                <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
                                    <i class="fas fa-wrench"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" role="menu">
                                    <a href="#" class="dropdown-item">Action</a>
                                    <a href="#" class="dropdown-item">Another action</a>
                                    <a href="#" class="dropdown-item">Something else here</a>
                                    <a class="dropdown-divider"></a>
                                    <a href="#" class="dropdown-item">Separated link</a>
                                </div>
                            </div>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8">
                                <p class="text-center">
                                    <strong>Sales: 1 Jan, 2014 - 30 Jul, 2014</strong>
                                </p>

                                <div class="chart">
                                    <div class="chartjs-size-monitor">
                                        <div class="chartjs-size-monitor-expand">
                                            <div class=""></div>
                                        </div>
                                        <div class="chartjs-size-monitor-shrink">
                                            <div class=""></div>
                                        </div>
                                    </div>
                                    <!-- Sales Chart Canvas -->
                                    <div #plot></div>
                                    <app-linear-plot [dots]="dots | async"></app-linear-plot>
                                   <!--  <h1>inner html</h1>
                                    
                                    <canvas id="salesChart" height="180"
                                        style="height: 180px; display: block; width: 836px;" width="836"
                                        class="chartjs-render-monitor"></canvas> 
                                    -->
                                </div>
                               <!-- /.chart-responsive -->
                            </div>
                            <!-- /.col -->
                            <div class="col-md-4">
                                <p class="text-center">
                                    <strong>Goal Completion</strong>
                                </p>
                                <div class="description-block">

                                    <h5 class="description-header">
                                        <div [appMath]>$$ \mathcal F (x; a_1; a_2) $$</div>
                                        <div [appMath]>$$ \mathcal F (x; {{ca1}}; {{ca2}}) $$</div>
                                    </h5>
                                    <span class="description-text">
                                        <div [appMath]>$$ \mathcal y = a_1 + a_2x $$</div>
                                        <div [appMath]>$$ \mathcal y = a_2x + a_1 $$</div>
                                    </span>
                                    <span class="description-percentage text-danger">
                                        <div [appMath]>$$ \mathcal y = {{ca2}}x + {{ca1}} $$</div>
                                    </span>
                                </div>


                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- ./card-body -->
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-sm-6 col-6">
                                <div class="description-block border-right">
                                    <span class="description-percentage text-success">Cantidad de Puntos</span>
                                    <h5 class="description-header"> </h5>
                                    <span class="description-text">
                                        <div [appMath]>
                                            $$
                                            \begin{{'{'}}bmatrix{{'}'}}
                                            n & \sum_{{'{'}}i=0{{'}'}}^n xi \\
                                            \sum_{{'{'}}i=0{{'}'}}^n xi & \sum_{{'{'}}i=0{{'}'}}^n xi^2 \\
                                            \end{{'{'}}bmatrix{{'}'}}
                                            \ast
                                            \begin{{'{'}}bmatrix{{'}'}}
                                            a1\\
                                            a2\\
                                            \end{{'{'}}bmatrix{{'}'}}
                                            =
                                            \begin{{'{'}}bmatrix{{'}'}}
                                            \sum_{{'{'}}i=0{{'}'}}^n xi\\
                                            \sum_{{'{'}}i=0{{'}'}}^n xiyi\\
                                            \end{{'{'}}bmatrix{{'}'}}

                                            $$
                                        </div>
                                    </span>
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-3 col-6">
                                <div class="description-block border-right">
                                    <span class="description-percentage text-success">Cantidad de Puntos</span>
                                    <h5 class="description-header"> </h5>
                                    <span class="description-text">
                                        <div [appMath]>
                                            $$
                                            \begin{{'{'}}bmatrix{{'}'}}
                                            {{dotsNum}} & {{sx}} \\
                                            {{sx}} & {{sx2}} \\
                                            \end{{'{'}}bmatrix{{'}'}}
                                            \ast
                                            \begin{{'{'}}bmatrix{{'}'}}
                                            {{a1}}\\
                                            {{a2}}\\
                                            \end{{'{'}}bmatrix{{'}'}}
                                            =
                                            \begin{{'{'}}bmatrix{{'}'}}
                                            {{sy}}\\
                                            {{sxy}}\\
                                            \end{{'{'}}bmatrix{{'}'}}

                                            $$
                                        </div>
                                    </span>
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.card-footer -->
                </div>
                <!-- /.card -->

                <!-- Show only if dishes IS unknown or undefined -->
                <div fxFlex *ngIf="showSppiner">
                    <mat-spinner></mat-spinner>
                    <h4>
                        Procesando...
                        <br>Espere por favor
                    </h4>
                </div>
            </div>
            <!-- /.col 9 -->
        </div>
    </div>
</section>