<!-- Main content -->
<section class="content px-2">
  <div class="container-fluid">
    <div class="row" *ngIf="dots && data.values.n > 1 && !errMsg">
      <!-- Text -->
      <div class="col-md-7 card card-info card-outline">
        <div class="card-header">
          <h3 class="card-title text-navy"> ANALISIS - CUANDO LA FUNCION EMPIRICA ES UN POLINOMIO DE SEGUNDO GRADO
          </h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <span [appMath]>
            $ \mathcal f (x, a_1, a_2, a_3) \Rightarrow y = a_1 + a_2x + a_3x^2 \Rightarrow $
          </span>
          Ecuación cuadrática <br>
          Entonces:
          <span [appMath]> $ \phi _1 (x)=1 \land \phi _2(x)=x \land \phi _3 (x)=x^2 $ </span>
          <p>
            Tomando en cuenta el Análisis Inicial <a href="#" [routerLink]="['/home']"> (Ver análisis inicial)</a>.
            Para este caso tenemos: <br>
            <span [appMath]>
              $ \begin{{'{'}}cases{{'}'}}
              \ a_1 \cdot \sum_{{'{'}}i=1{{'}'}}^n 1 + a_2 \cdot \sum_{{'{'}}i=1{{'}'}}^n x_i + a_3 \cdot
              \sum_{{'{'}}i=1{{'}'}}^n x_i^2 = \sum_{{'{'}}i=1{{'}'}}^n y_i \\
              \ a_1 \cdot \sum_{{'{'}}i=1{{'}'}}^n x_i + a_2 \cdot \sum_{{'{'}}i=1{{'}'}}^n x_i^2 + a_3 \cdot
              \sum_{{'{'}}i=1{{'}'}}^n x_i^3 = \sum_{{'{'}}i=1{{'}'}}^n y_i \cdot x_i \\
              \ a_1 \cdot \sum_{{'{'}}i=1{{'}'}}^n x_i^2 + a_2 \cdot \sum_{{'{'}}i=1{{'}'}}^n x_i^3 + a_3 \cdot
              \sum_{{'{'}}i=1{{'}'}}^n x_i^4 = \sum_{{'{'}}i=1{{'}'}}^n y_i \cdot x_i^2
              \end{{'{'}}cases{{'}'}} $
            </span>
          </p>
          <p>
            <span [appMath]>
              $ \begin{{'{'}}bmatrix{{'}'}}
              \ n & \sum_{{'{'}}i=1{{'}'}}^n x_i & \sum_{{'{'}}i=1{{'}'}}^n x_i^2 \\
              \sum_{{'{'}}i=1{{'}'}}^n x_i & \sum_{{'{'}}i=1{{'}'}}^n x_i^2 & \sum_{{'{'}}i=1{{'}'}}^n x_i^3 \\
              \sum_{{'{'}}i=1{{'}'}}^n x_i^2 & \sum_{{'{'}}i=1{{'}'}}^n x_i^3 & \sum_{{'{'}}i=1{{'}'}}^n x_i^4
              \end{{'{'}}bmatrix{{'}'}}
              \cdot
              \begin{{'{'}}bmatrix{{'}'}}
              a_1\\
              a_2\\
              a_3
              \end{{'{'}}bmatrix{{'}'}}
              =
              \begin{{'{'}}bmatrix{{'}'}}
              \sum_{{'{'}}i=1{{'}'}}^n y_i\\
              \sum_{{'{'}}i=1{{'}'}}^n y_i \cdot x_i\\
              \sum_{{'{'}}i=1{{'}'}}^n y_i \cdot x_i^2\\
              \end{{'{'}}bmatrix{{'}'}} $
            </span>
          </p>
          <p>Tomamos como ejemplo la tabla de valores ingresada (Ver en gráfica).
            <br>Ajustamos a un polinomio de segundo grado:
            <span [appMath]>y = a_3 + a_2x + a_1 x^3</span><br>
            <span [appMath]>
              $ \begin{{'{'}}align{{'}'}}
              n = {{data.values.n}} && \sum_{{'{'}}i=1{{'}'}}^n x_i^2 = {{data.values.sx2}} &&
              \sum_{{'{'}}i=1{{'}'}}^n x_i^4 = {{data.values.sx4}} &&
              \sum_{{'{'}}i=1{{'}'}}^n y_i \cdot x_i = {{data.values.syx}}\\
              \sum_{{'{'}}i=1{{'}'}}^n x_i = {{data.values.sx}} && \sum_{{'{'}}i=1{{'}'}}^n x_i^3 =
              {{data.values.sx3}} &&
              \sum_{{'{'}}i=1{{'}'}}^n y_i = {{data.values.sy}} && \sum_{{'{'}}i=1{{'}'}}^n y_i \cdot x_i^2 =
              {{data.values.syx2}}
              \end{{'{'}}align{{'}'}} \\
              \begin{{'{'}}bmatrix{{'}'}}
              \ n & \sum_{{'{'}}i=1{{'}'}}^n x_i & \sum_{{'{'}}i=1{{'}'}}^n x_i^2 \\
              \sum_{{'{'}}i=1{{'}'}}^n x_i & \sum_{{'{'}}i=1{{'}'}}^n x_i^2 & \sum_{{'{'}}i=1{{'}'}}^n x_i^3 \\
              \sum_{{'{'}}i=1{{'}'}}^n x_i^2 & \sum_{{'{'}}i=1{{'}'}}^n x_i^3 & \sum_{{'{'}}i=1{{'}'}}^n x_i^4
              \end{{'{'}}bmatrix{{'}'}} \cdot
              \begin{{'{'}}bmatrix{{'}'}}
              a_1\\
              a_2\\
              a_3
              \end{{'{'}}bmatrix{{'}'}}
              =
              \begin{{'{'}}bmatrix{{'}'}}
              \sum_{{'{'}}i=1{{'}'}}^n y_i\\
              \sum_{{'{'}}i=1{{'}'}}^n y_i \cdot x_i\\
              \sum_{{'{'}}i=1{{'}'}}^n y_i \cdot x_i^2
              \end{{'{'}}bmatrix{{'}'}} $
            </span>
          </p>
          <p>
            <span [appMath]>
              $ \begin{{'{'}}bmatrix{{'}'}}
              {{data.values.n}} & {{data.values.sx}} & {{data.values.sx2}}\\
              {{data.values.sx}} & {{data.values.sx2}} & {{data.values.sx3}} \\
              {{data.values.sx2}} & {{data.values.sx3}} & {{data.values.sx4}}
              \end{{'{'}}bmatrix{{'}'}}
              \cdot
              \begin{{'{'}}bmatrix{{'}'}}
              a_1\\
              a_2\\
              a_3
              \end{{'{'}}bmatrix{{'}'}}
              =
              \begin{{'{'}}bmatrix{{'}'}}
              {{data.values.sy}}\\
              {{data.values.syx}}\\
              {{data.values.syx2}}
              \end{{'{'}}bmatrix{{'}'}} $
            </span>
          </p>
          <div class="row">
            <div class="col-md-6">
              Armamos un sistema de ecuaciones y lo resolvemos: <br>
              <span [appMath]>
                $ \begin{{'{'}}cases{{'}'}}
                {{data.values.n}}a_1 + {{data.values.sx}}a_2 + {{data.values.sx2}}a_3 = {{data.values.sy}}\\
                {{data.values.sx}}a_1 + {{data.values.sx2}}a_2 + {{data.values.sx3}}a_3 = {{data.values.syx}}\\
                {{data.values.sx2}}a_1 + {{data.values.sx3}}a_2 + {{data.values.sx4}}a_3 = {{data.values.syx2}}
                \end{{'{'}}cases{{'}'}}\\ $
              </span>
            </div>
            <div class="col-md-3">
              Nos queda: <br>
              <span [appMath]>
                $ a_1={{data.values.a1}}\\
                a_2={{data.values.a2}}\\
                a_3={{data.values.a3}} $
              </span>
            </div>
          </div>
          <div [appMath]>
            $$
            \bbox[5px,border:3px solid red]
            {{'{'}}
            \mathcal y(x) = {{data.values.a3}}x^2 + {{data.values.a2}}x + {{data.values.a1}}
            {{'}'}}
            $$
          </div>
        </div><!-- ./card-body -->
      </div><!-- /.col-md-7 /.card -->

      <div class="col-md-5">
        <div class="card card-success card-outline">
          <div class="card-header">
            <h3 class="card-title text-navy"> GRAFICA <span [appMath]> $ f(x) = {{ data.values.a1 }} +
                {{ data.values.a2 }}x + {{ data.values.a3 }}x^2 $ </span></h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <app-plot [data]="dt"></app-plot>
          </div><!-- ./card-body -->
        </div><!-- /.card -->

        <div class="callout callout-info">
          <h5 class="card-title text-navy"> Datos Analizados</h5>
          <br>
          <ul class="list-group list-group-horizontal-md">
            <li class="list-group-item flex-fill font-weight-bold">X</li>
            <li *ngFor="let d of dots" class="list-group-item flex-fill">{{ d.x }}</li>
          </ul>
          <ul class="list-group list-group-horizontal-md">
            <li class="list-group-item flex-fill font-weight-bold">Y</li>
            <li *ngFor="let d of dots" class="list-group-item flex-fill">{{ d.y }}</li>
          </ul>
        </div><!-- /.callout -->
      </div><!-- /.col-md-5 -->
    </div><!-- /.row -->

    <app-error [error]="errMsg" [noDots]="noDots"></app-error>
    <!-- /.error-page -->

  </div>
  <!-- /.container-fluid-->
</section>
