<!-- Main content -->
<section class="content px-2">
  <div class="container-fluid">
    <div class="row" *ngIf="dots && n > 1 && !errMsg">
      <div class="col-12">
        <div class="callout callout-info">
          <h5> Análisis:</h5>
          La función empírica es una recta:
          <div class="row">
            <div class="col-6">
              <div [appMath]>
                $$ \mathcal f (x; a_1; a_2) \Rightarrow y = a_2x + a_1 \Rightarrow \text{{'{'}}ecuación de
                la recta{{'}'}} $$
              </div>
              <div [appMath]>
                $$ \mathcal Entonces: \phi _1 (x) \land \phi _2(x) $$
              </div>
              <p>
                Tomando en cuenta el Análisis Inicial <a href="#" [routerLink]="['/home']"> Ver análisis inicial</a>.
                En este caso utilizamos:
              </p>
              <div [appMath]>
                $$
                \begin{{'{'}}bmatrix{{'}'}}
                n & \sum_{{'{'}}i=0{{'}'}}^n x_i \\
                \sum_{{'{'}}i=0{{'}'}}^n x_i & \sum_{{'{'}}i=0{{'}'}}^n x_i^2 \\
                \end{{'{'}}bmatrix{{'}'}}
                \ast
                \begin{{'{'}}bmatrix{{'}'}}
                a1\\
                a2\\
                \end{{'{'}}bmatrix{{'}'}}
                =
                \begin{{'{'}}bmatrix{{'}'}}
                \sum_{{'{'}}i=0{{'}'}}^n y_i\\
                \sum_{{'{'}}i=0{{'}'}}^n x_iy_i\\
                \end{{'{'}}bmatrix{{'}'}}
                $$
              </div>
            </div>
            <!-- /.col -->
            <div class="col-6">
              <p>Resolviendo el Sistema de Ecuaciones tenemos:</p>
              <div [appMath]>
                $$
                \begin{{'{'}}bmatrix{{'}'}}
                {{dotsNum}} & {{csx}} \\
                {{csx}} & {{csx2}} \\
                \end{{'{'}}bmatrix{{'}'}}
                \ast
                \begin{{'{'}}bmatrix{{'}'}}
                {{ca1}}\\
                {{ca2}}\\
                \end{{'{'}}bmatrix{{'}'}}
                =
                \begin{{'{'}}bmatrix{{'}'}}
                {{csy}}\\
                {{csxy}}\\
                \end{{'{'}}bmatrix{{'}'}}
                $$
              </div>
              <span class="text-info">
                <strong>
                  <div [appMath]>$$ \text{{'{'}}Ecuación de la Recta:{{'}'}} $$</div>
                </strong>
              </span>
              <div [appMath]>$$ \mathcal y = {{ca2}}x + {{ca1}} $$</div>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.callout -->
      </div>
      <!-- /.col -->
      <div class="col-12">
        <div class="card card-secondary card-outline"> 
          <div class="card-header">
            <h5 class="card-title">f(x) = {{fx}}</h5>
          </div>
          <!-- /.card-header -->
          
          <div class="card-body">
            <div class="row">
              
              <div class="col-10">
                <h5>Gráfica</h5>
                <app-linear-plot [data]="data" [fx]="fx"></app-linear-plot>
              </div>
            </div>
            <!-- /.col -->
            <div class="col-2 text-left">
              <p class="text-left">Puntos Analizados</p>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th style="width: 10px">#</th>
                    <th class="text-center">x</th>
                    <th class="text-center">y(x)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let d of dots; let i = index">
                    <td>{{ i + 1  }}</td>
                    <td class="text-center">
                      <span>{{ d.x }}</span>
                    </td>
                    <td class="text-center">
                      <span>{{ d.y }}</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- ./card-body -->
      </div>
      <!-- ./col -->
      
    </div>
    <!-- /.row -->
    
    <app-error [error]="errMsg" [noDots]="noDots"></app-error>
    <!-- /.error-page -->
    
  </div>
  <!-- /.container-fluid-->
</section>