.text-label {
    font-size: 10px;
    font-family: sans-serif;
}

.dot {
    stroke: #293b47;
    fill: #7A99AC
}

.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.6;
    shape-rendering: crispEdges
  }

.grid path {
    stroke-width: 0;
}